body{
	
	width:1000px;
	background-color:#7edbff;
	margin-left: 10%;
}

#contenitoreLogo{
	
	width: 637px;
	height: 230px;
	margin:0 auto;
	padding-left: 50px;
}


#contenitore{
	display: none;
	width: 637px;
	height: 546px;
	margin:0 auto;
	
}

#inizio{
    text-align: center;

	color: #009cff;
}


#cella{
	
	width: 91px;
	height: 91px;
	
}

td,th{
	border:0px;
	width: 91px;
	height: 91px;
	margin: 0 0 0 0px;
	padding: 0 0 0 0px;
}

.rosso{
	
	background-color:red;
	
}

.giallo{
	
	background-color:yellow;
	
}

table {
display: table;
border-collapse: collapse;
border-spacing: 0px;
border-color: gray;
border:0px;
}

img{
	
	height = "91";
	float:left;
	
}

#distanziatore{
	
	height:30px;
	width:100%;
	
}

#read{
	
	
	width: 100px;
	height: 50px;
}


#pulsante1, #pulsante2, #pulsante3, #pulsante4, #pulsante5, #pulsante6, #pulsante7{
	
	padding-left:11px;
	
}

#patta{
	
	text-align: center;

	color: #ffea36;
	
}

#vittoria{
	
	text-align: center;

	color: #2bc923;
	
}

#sconfitta{
	
	text-align: center;

	color: #ff2e2e;
	
}