body{
	
	width:1000px;
	background-color:#7edbff;
	margin-left: 10%;
}


#contenitoreLogo{
	
	width: 637px;
	height: 230px;
	margin:0 auto;
	padding-left: 50px;
}


h1 {
    text-align: center;

	color: #009cff;
}

#contenitoreForm{

	margin:0 auto;
	padding-left: 370px;
}

#bottone{
	
	padding-top: 25px;
	padding-left: 70px;
	width: 100px;
	height: 50px;
}

#campoTesto{
	
	width: 250px;
	height: 30px;
	
}