body{
	
	width:1000px;
	background-color:#7edbff;
	margin-left: 10%;
}


#contenitore{
	
	width: 637px;
	height: 546px;
	margin:0 auto;
	
}

#cella{
	
	width: 91px;
	height: 91px;
	
}

td,th{
	border:0px;
	width: 91px;
	height: 91px;
	margin: 0 0 0 0px;
	padding: 0 0 0 0px;
}

.rosso{
	
	background-color:red;
	
}

.giallo{
	
	background-color:yellow;
	
}

table {
display: table;
border-collapse: collapse;
border-spacing: 0px;
border-color: gray;
border:0px;
}

img{
	
	height = "91";
	float:left;
	
}

#distanziatore{
	
	height:30px;
	width:100%;
	
}

#pulsante{
	
	padding-left:11px;
	
}